.color-square {
    display: inline-block;
    vertical-align: text-bottom;
    height: .8rem;
    width: .8rem;
    border: .05rem solid #000;
    border-radius: .3rem;
    margin-right: .2rem;
}

.bolder {
    font-weight: bolder;
}